#register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

#register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    min-height: 55vh;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#register-button {
    background-color: #000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    margin: 0 auto;
	margin-top: auto;
	margin-bottom: 0;
}

#email, #first-name, #last-name, #password, #confirm-password {
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.input-label {
	margin-bottom: 5px;
	margin-top: 10px;
}

#login-text {
	font-size: 12px;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.password-input-container {
	position: relative;
}

.password-input-container input {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 0;
}

@media (max-width: 770px) {
    #register-form {
        min-height: 70vh;
    }
}

